<div class="wrap">
    <?php if (!empty($message)): ?>
    <div id="message" class="updated"><p><?php echo $message; ?></p></div>
    <?php endif; ?>
    <h2><?php _e('Edit Genre'); ?></h2>
    <form action="<?php echo($_SERVER['REQUEST_URI']); ?>" method="post">
        <table class="form-table">
            <tr>
                <th><label for="category_name"><?php _e('Genre name:'); ?></label></th>
                <td><input type="text" name="category_name" id="category_name" value="<?php echo $category->category_name; ?>" /></td>
            </tr>
            <tr>
                <th><label for="category_color"><?php _e('Genre color:'); ?></label></th>
                <td><input type="text" name="category_color" id="category_color" value="<?php echo ca\acadiau\axeradio\timber\controllers\shows\AllShows::intToColor($category->category_color); ?>" />
                <div id="colorpicker"></div></td>
            </tr>
        </table>

        <input type="hidden" name="action" value="edit" />
        <input type="hidden" name="ID" value="<?php echo $category->ID; ?>" />

        <p class="submit"><input type="submit" name="submit" id="submit" class="button-primary" value="<?php _e('Edit genre'); ?>" /></p>
    </form>
</div>
<script type="text/javascript">
jQuery(document).ready(function()
{
    jQuery('#colorpicker')
            .hide()
            .farbtastic("#category_color");
    jQuery("#category_color").click(function()
    {
        jQuery('#colorpicker').slideToggle();
    });
});
</script>